<!DOCTYPE html>
<html>
<head>
  <title>Donations</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-wrapper cbp-af-header">
      <div class="container">

        <!-- Fixed navbar -->
        <div class="navbar cbp-af-inner" role="navigation">
          <div class="container">
            <div class="navbar-header">
            <!--  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> -->
              <h1><a class="navbar-brand scroll hidden-xs" id="name" href="/">Campaign</a></h1>
            </div>
      <div class="navbar-nav navbar-right">
      <p class="visible-xs bio"><a href="biography" class="navbar-text navbar-right bio-link bio-up visible-xs">Meet him/her/it</a></p>
            <p class="navbar-text navbar-right">
            <a href="#" class="btn btn-lg btn-block navbar-btn btn-danger donate scroll donate-up" target="_blank">DONATE</a>
            </p>
      <a href="biography" class="navbar-text navbar-right bio-link bio-up hidden-xs" style="margin-right: 15px;">Meet Ken</a>
      </div>

                      </div>
        </div>

      </div>
    </div>
<%= yield %>

</body>
</html>
